<template>

    <div class="container">
        <div class="container pt-3 pb-5">
            <div class="row pb-3 ml-4">
                <div class="col text-left">
                    <h2 v-on:click="computeTotalInvoiced">Summary by Customer</h2>
                </div>
                <div class="col text-right">

                </div>
            </div>


        </div>
        <div class="row pb-3 ml-4 justify-content-center">
            <div>
                <b-table id="customerTable" striped hover :items="customers" :fields="fields" :per-page="perPage"
                         :current-page="currentPage" selectable ref="selectableTable"
                         @row-clicked="tableRowClicked" class="mt-3" data-toggle="modal" data-target="#rowModal">
                </b-table>
                <b-pagination
                    pills
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="customerTable"
                ></b-pagination>
            </div>
        </div>
    </div>


</template>



<script>

    export default {
        name: "ReportsComponent",

        data() {
            return {
                currentPage: 1,
                perPage: 5,
                customers: [],
                fields: [
                    {
                        key: 'first_name',
                        label: 'First Name',
                        sortable: true
                    },
                    {
                        key: 'last_name',
                        label: 'Last Name',
                        sortable: true,
                    },
                    {
                        key: 'company',
                        label: 'Company',
                        sortable: true,
                    },
                    {
                        key: 'totalInvoiced',
                        label: 'Total invoiced',
                        sortable: true,
                    }
                ],
            }
        },

        mounted() {
          this.getCustomers();
        },

        computed: {
            rows() {
                return this.customers.length;
            }
        },

        methods: {

            computeTotalInvoiced() {
                this.customers.forEach((customer) => {
                    customer.totalInvoiced = 0;
                    console.log(customer);
                    customer.estimates.forEach((estimate) => {
                        if(estimate.is_invoice === 1) {
                            customer.totalInvoiced += estimate.total;
                        }

                    });
                });
                // for(let i = 0; i < this.customers.length; i++) {
                //     this.customers[i].totalInvoiced = 0;
                //     console.log(this.customers[i]);
                //     for(let j = 0; j < this.customers[i].estimates.length; j++) {
                //         if(this.customers[i].estimates[j].is_invoice === 1) {
                //             this.customers[i] += this.customers[i].estimates[j].total;
                //         }
                //     }
                // }
            },

            getCustomers() {
                axios.get('/api/customer/get/estimates', {
                    headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.customers = response.data;
                    this.computeTotalInvoiced();
                });
            },

            tableRowClicked() {

            },
        }

    }
</script>

<style scoped>

</style>
