<template>


    <div class="container pt-5 pb-4">
        <h2>General user information</h2>

        <div class="row pt-3">
            <div class="col">
                <div class="container bg-white shadow">
                    <div class="row justify-content-between pt-3 pb-3">
                        <div class="col text-left">
                            <h4>New users</h4>
                        </div>
                        <div class="col text-right">
                            <select class="custom-select" v-model="noOfDays" @change="getUsersUnderXDays">
                                <option :value="30" selected >Last 30 days</option>
                                <option :value="15" >Last 15 days</option>
                                <option :value="5">Last 5 days</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left">
                            <h4>{{ totalUsers }}</h4>
                        </div>

                    </div>
                    <trend
                        :data="arrayToDisplay"
                        :gradient="['#5355d2']"
                        auto-draw
                        smooth
                    >
                    </trend>
                </div>
            </div>
            <div class="col">
                <div class="container bg-white shadow">
                    <div class="row justify-content-between pt-3">
                        <div class="col text-left">
                            <h4>Active users</h4>
                        </div>
                        <div class="col text-right">
                            Total {{ activeUsers+inactiveUsers }}
                        </div>
                        <apexchart type="donut" :options="chartOptions0" :series="series0" class="pb-2"></apexchart>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="container bg-white shadow">
                    <div class="row justify-content-between pt-3">
                        <div class="col text-left">
                            <h4>User types</h4>
                        </div>
                        <apexchart type="donut" :options="chartOptions1" :series="series1" class="pb-1"></apexchart>
                    </div>
                </div>
            </div>
        </div>


        <div class="row pt-3">
            <div class="col text-left">
                <b-pagination
                    pills
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="usersTable"
                    class="pt-2"
                ></b-pagination>
            </div>
        </div>

        <div>
            <b-table id="usersTable" striped hover :items="allUsers" :fields="fields"
                     :per-page="perPage"
                     :current-page="currentPage" selectable ref="selectableTable"
                     @row-clicked="tableRowClicked" class="mt-3" data-toggle="modal" data-target="#rowModal">

            </b-table>
        </div>


        <div class="modal fade" id="rowModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Update user</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="firstName" class="col-4 col-form-label">First Name</label>
                                <div class="col-8">
                                    <input id="firstName" v-model="shownItems.first_name" name="firstName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastName" class="col-4 col-form-label">Last Name</label>
                                <div class="col-8">
                                    <input id="lastName" v-model="shownItems.last_name" name="lastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email</label>
                                <div class="col-8">
                                    <input id="email" v-model="shownItems.email" name="email" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-4 col-form-label">Role</label>
                                <div class="col-8">
                                    <input id="role" v-model="shownItems.role" name="role" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="createdAt" class="col-4 col-form-label">Created at</label>
                                <div class="col-8">
                                    <input id="createdAt" v-model="shownItems.created_at" name="createdAt" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rfidUid" class="col-4 col-form-label">RFID UID</label>
                                <div class="col-8">
                                    <input id="rfidUid" v-model="shownItems.rfid_uid" name="rfidUid" type="text" class="form-control">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end">
                            <div class="col">
                                <button name="deletePart" @click="deleteUser" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                            </div>
                            <div class="col">
                                <button @click="updateUser" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Vue from "vue";
import Trend from "vuetrend";
import VueApexCharts from 'vue-apexcharts';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-default.css';
Vue.use(BootstrapVue);
Vue.use(IconsPlugin);
Vue.component('apexchart', VueApexCharts);
Vue.use(Trend);


export default {
    props: ['apiToken', 'myUsers'],
    name: "UserManagementComponent",
    data() {
        return {
            shownItems: [],
            fields: [
                {
                    key: 'id',
                    sortable: true,
                },
                {
                    key: 'first_name',
                    sortable: true,
                },
                {
                    key: 'last_name',
                    sortable: true,
                },
                {
                    key: 'email',
                    sortable: true,
                },
                {
                    key: 'role',
                    sortable: true,
                },
                {
                    key: 'created_at',
                    sortable: true,
                },
                {
                    key: 'rfid_uid',
                    sortable: true,
                }
            ],
            allUsers: [],
            currentPage: 1,
            perPage: 3,
            allEmployees: [],
            users: [],
            noOfDays: 30,
            newUsersDict: {},
            arrayToDisplay: [],
            totalUsers: 0,
            activeUsers: 0,
            inactiveUsers: 0,
            noOfFreetrials: 0,
            noOfTechnicians: 0,
            noOfAdmins: 0,
            series0: [],
            chartOptions0: {
                chart: {
                    height: 150,
                    type: 'donut',
                },
                labels: ["Active users", "Inactive users"],
                responsive: [{
                    breakpoint: 360,
                    options: {
                        chart: {
                            width: 100
                        },
                        pie: {
                            customScale: 0.2
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },

            series1: [],
            chartOptions1: {
                chart: {
                    height: 150,
                    type: 'donut',
                },
                labels: ["Technicians", "FreeTrials", "Admins"],
                responsive: [{
                    breakpoint: 360,
                    options: {
                        chart: {
                            width: 100
                        },
                        pie: {
                            customScale: 0.2
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },


        }
    },

    beforeMount() {
      this.myUsers.forEach((user, index) => {
          this.$set(this.allUsers, index, user);
      });
    },

    mounted() {
        Vue.use(VueToast);
        this.getUsersUnderXDays();
        this.getUserStatistics();
        this.getUserTypesStatistics();
    },

    computed: {
        rows() {
            return this.allUsers.length;
        }
    },

    methods: {
        getUsersUnderXDays() {
            axios.get('/api/users/get/last/' + this.noOfDays,
                {headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                this.users = response.data;
                this.handleUsers(response.data);
            });
        },

        handleUsers(users) {
            this.newUsersDict = {};
            this.totalUsers = 0 ;
          users.forEach((user) => {
              if (this.newUsersDict[user.created_at.split('T')[0]]) {
                  this.newUsersDict[user.created_at.split('T')[0]]++;
              } else {
                  this.newUsersDict[user.created_at.split('T')[0]] = 1;
              }
          });
            this.arrayToDisplay = Object.keys(this.newUsersDict).map(val => this.newUsersDict[val]);
            this.arrayToDisplay.forEach(x => {
                this.totalUsers += x;
            })

        },

        getUserStatistics() {
            axios.get('/api/users/get/active/',
                {headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                this.activeUsers = response.data.active;
                this.inactiveUsers = response.data.inactive;
                this.series0.push(this.activeUsers);
                this.series0.push(this.inactiveUsers);
            });
        },

        getUserTypesStatistics() {
            axios.get('/api/users/get/types/',
                {headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                this.noOfTechnicians = response.data.technicians;
                this.noOfFreetrials = response.data.freetrials;
                this.noOfAdmins = response.data.admins;
                this.series1.push(this.noOfTechnicians);
                this.series1.push(this.noOfFreetrials);
                this.series1.push(this.noOfAdmins);

            });
        },

        getAllUsers() {
            axios.get('/api/users/get/all/',
                {headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                    this.allUsers = response.data;
                });
        },

        tableRowClicked(record, index) {
            this.shownItems = record;
            console.log('Row clicked: ' + record + ' and ' + index);
            console.log('\n Shown items: ' + this.shownItems);

        },

        updateUser() {
            axios.put('/api/users/update/' + this.shownItems.id, {
                first_name: this.shownItems.first_name,
                last_name: this.shownItems.last_name,
                email: this.shownItems.email,
                role: this.shownItems.role,
                rfid_uid: this.shownItems.rfid_uid,
            }, { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then(() => {
                this.getAllUsers();
                Vue.$toast.open({
                    message: 'User updated successfully',
                    position: 'top-right',
                    type: 'success',
                });
            });
        },

        deleteUser() {
            axios.delete('/api/users/delete/' + this.shownItems.id,
                { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                this.getAllUsers();
                Vue.$toast.open({
                    message: 'User deleted successfully',
                    position: 'top-right',
                    type: 'success',
                });
            });
        },

        searchText() {

        },

    },

    components: {
        BootstrapVue,
        IconsPlugin,
    },
}
</script>

<style scoped>

</style>
