.user-button {
    background-color: #5355d2;
    color: white;
}


.my-container-color {
    background-color: #5355d2;
}

.my-border-color {
    border-color: #5355d2 !important;
}

.w-15 {
    width: 15% !important;
}

.navbar-brand-my {
    width: 100px;
}
.fooooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #5355d2;
}


.order-icon {
    width: 12%; height: auto;
}

.user-border {
border-color: #5355d2 !important;
}
