<template>

    <div class="container pt-3 mb-3">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <span style="color: gray;">
                        <i class="fas fa-user-tie fa-2x pt-1"></i>
                    </span>
                    <div class="col-8 pr-1 pl-2">
                        <cool-select
                            v-model="selectedCustomerID"
                            :items="customers"
                            :placeholder="selectedCustomerID ? '' : 'Select customer'"
                            item-value="id"
                            item-text="first_name"
                        >
                            <!-- slot for each item in the menu -->
                            <template slot="item" slot-scope="{ item: customer }">
                                <div style="display:flex; align-items: center;" >
                                    <div>{{ customer.first_name + ' ' + customer.last_name }}
                                        <b>{{ customer.phone }}</b>
                                    </div>
                                </div>
                            </template>
                            <!-- slot for the selected item (in the text field) -->
                            <template slot="selection" slot-scope="{ item: customer }">
                                <!--                                <img :src="getFlag(timezone.countryCode)" class="country-flag">-->
                                <div>
                                    {{ customer.first_name + ' ' + customer.last_name }}
                                    <b>{{ customer.phone }}</b>
                                </div>
                            </template>

                        </cool-select>
                    </div>
                    <div class="col-3 pl-1">
                        <button type="button" class="btn-sm user-button ml-1 round" style="border-radius: 50%;" data-toggle="modal" data-target="#customerModal">
                            Add new
                        </button>
                    </div>

                </div>

                <h2 class="pt-4">New estimate</h2>

                <div class="input-group mt-4" style="height: 115px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Order comments</span>
                    </div>
                    <textarea class="form-control" aria-label="Order comments" v-model="currentEstimate.comments"></textarea>
                </div>

                <div class="alert alert-danger mt-3" role="customerNotChosenAlert" v-if="!selectedCustomerID && newCarButtonPressed">
                    You have to select a customer first!
                    <button type="button" class="close" data-dismiss="customerNotChosenAlert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


            </div>
            <div class="col-5">
                <div class="row">
                    <span style="color: gray;">
                    <i class="fas fa-car fa-2x pt-1 mr-1"></i>
                        </span>
                    <div class="col-7 pr-1 pl-1" v-on:click="getCustomerCars">
                        <cool-select
                            v-model="selectedCarID"
                            :items="cars"
                            :placeholder="selectedCarID ? '' : 'Select car'"
                            item-value="id"
                            item-text="license_plate"
                        >
                            <!-- slot for each item in the menu -->
                            <template slot="item" slot-scope="{ item: car }">
                                <div style="display: flex; align-items: center;">

                                    <div>
                                        {{ car.model_year + ' ' + car.model }}
                                        <b>{{ car.phone }}</b>
                                    </div>
                                </div>
                            </template>
                            <!-- slot for the selected item (in the text field) -->
                            <template slot="selection" slot-scope="{ item: car }">
                                <!--                                <img :src="getFlag(timezone.countryCode)" class="country-flag">-->
                                <div>
                                    {{ car.model_year + ' ' + car.model }}
                                    <b>{{ car.license_plate }}</b>
                                </div>
                            </template>
                        </cool-select>
                    </div>
                    <div class="col-3 pl-1">
                        <button type="button" class="btn-sm user-button ml-1" style="border-radius: 50%;" v-on:click="insertNewCarButton" data-toggle="modal" data-target="#carModal">
                            Add new
                        </button>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button class="btn user-button mr-5 mt-4" :disabled="!saveEstimateButton" data-toggle="tooltip" data-placement="top" title="Save estimate first" v-on:click="exportEstimate">
                        Export
                    </button>
                    <button class="btn user-button mr-5 mt-4" v-on:click="saveEstimate">
                        Save estimate
                    </button>
                </div>

                <div class="row mt-4">
                    <multiselect v-on:click="computeTotalSelectedParts" v-model="selectedParts" :custom-label="customLabelParts" :options="myParts" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some parts" label="part_desc" track-by="part_desc" :preselect-first="true">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span class="multiselect__single" v-if="selectedParts.length &amp;&amp; !isOpen">{{ selectedParts.length }} parts selected</span>
                        </template>
                    </multiselect>
                </div>

                <div class="row mt-4">
                    <multiselect v-on:click="computeTotalSelectedServices" v-model="selectedServices" :custom-label="customLabelServices" :options="myServices" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some services" label="service_name" track-by="service_name" :preselect-first="true">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span class="multiselect__single" v-if="selectedServices.length &amp;&amp; !isOpen">{{ selectedServices.length }} services selected</span>
                        </template>
                    </multiselect>
                </div>

            </div>
            <div class="col-3">
                <div id="right" class="container border bg-white shadow pt-2 pb-2">
                    <div class="row justify-content-center">
                        <h4>ESTIMATE DETAILS</h4>
                    </div>
                    <div class="row justify-content-between m-0">
                        <b>SERVICE WRITER</b>
                        {{ creatingUser.first_name + ' ' + creatingUser.last_name }}
                    </div>

                    <div class="row justify-content-between m-0">
                        <b>CREATED</b>
                        {{ currentTime }}
                    </div>
                    <hr>
                    <div class="row justify-content-between m-0">
                        <b>CUSTOMER</b>
                        {{ searchCustomersArrayByID(selectedCustomerID, 'name') }}
                    </div>
                    <div class="row justify-content-between m-0">
                        <b>ADDRESS</b>
                        {{ searchCustomersArrayByID(selectedCustomerID, 'address') }}
                    </div>
                    <hr>

                    <div class="row justify-content-between m-0">
                        <b>CAR</b>
                        {{ searchCarsArrayByID(selectedCarID, 'model') }}
                    </div>
                    <div class="row justify-content-between m-0">
                        <b>VIN</b>
                        {{ searchCarsArrayByID(selectedCarID, 'vin') }}
                    </div>
                    <div class="row justify-content-between m-0">
                        <b>KM INDEX</b>
                        {{ searchCarsArrayByID(selectedCarID, 'mileage') }}
                    </div>

                    <hr>

                    <div class="row justify-content-between m-0">
                        <b>PARTS</b>
                    </div>
                    <div class="row justify-content-around m-0" v-for="part in selectedParts" :key="part.id">
                        <div class="col-4">
                        <div>{{ part.part_desc }}</div>
                        </div>
                        <div class="col-4">
                        <form>
                            <input id="partsQuantity" v-model="part.partsQuantity" name="partsQuantity" type="text" class="form-control" placeholder="Quantity" style="height: 22px;">
                        </form>
                        </div>
                        <div class="col-4">
                        {{ Number.isNaN(part.retail_price * part.partsQuantity) ? '0' : part.retail_price * part.partsQuantity}}
                        </div>
                    </div>
                    <div class="row justify-content-between m-0">
                        <b>PARTS TOTAL</b>
                        {{ Number.isNaN(computeTotalSelectedParts()) ? '0' : computeTotalSelectedParts()}}
                    </div>
                    <hr>
                    <div class="row justify-content-between m-0">
                        <b>SERVICES</b>
                    </div>
                    <div class="row justify-content-between m-0" v-for="service in selectedServices" :key="service.id">

                            <div>{{ service.service_name }}</div>

                            <div>{{ service.service_fixed_price }}</div>

                    </div>
                    <div class="row justify-content-between m-0">
                        <b>SERVICES TOTAL</b>
                        {{ total = computeTotalSelectedServices() }}
                    </div>
                    <hr>
                    <div class="row justify-content-between m-0">
                        <b>ESTIMATE TOTAL</b>
                        {{ Number.isNaN(computeTotalEstimate()) ? '0' : computeTotalEstimate() }}
                    </div>
                    <hr>
                    <div class="row justify-content-between m-0">
                        <b>ORDER STATUS</b>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active user-button">
                                <input type="radio" name="isEstimateButton" id="estimateButton" autocomplete="off" :checked="isEstimate" v-on:click="isEstimate=true"> Estimate
                            </label>
                            <label class="btn btn-secondary user-button">
                                <input type="radio" name="isInvoiceButton" id="invoiceButton" autocomplete="off" :checked="!isEstimate" v-on:click="isEstimate=false"> Invoice
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-between m-0" v-if="!isEstimate">
                        <b>PAYMENT</b>
                    </div>

                    <div class="row justify-content-between m-0" v-if="!isEstimate">
                        <label for="isPaid" class="col-form-label"><b>Is invoice paid ?</b></label>
                        <toggle-button id="isPaid" v-model="currentEstimate.is_paid" color="#5355d2"/>
                    </div>

                    <div class="row justify-content-between m-0" v-if="!isEstimate">
                        <label for="sendSMS" class="col-form-label"><b>Send SMS confirmation</b></label>
                        <toggle-button id="sendSMS" v-model="currentEstimate.send_sms" color="#5355d2"/>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="customerModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Insert new customer</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="firstName" class="col-form-label">First Name</label>
                                    <input id="firstName" v-model="newCustomer.firstName" name="customerFirstName" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="lastName" class="col-form-label">Last Name</label>
                                    <input id="lastName" v-model="newCustomer.lastName" name="customerLastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="phone" class="col-form-label">Phone</label>
                                    <input id="phone" v-model="newCustomer.phone" name="customerPhone" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="address1" class="col-form-label">Address 1</label>
                                    <input id="address1" v-model="newCustomer.address1" name="customerAddress1" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="address2" class="col-form-label">Address 2</label>
                                    <input id="address2" v-model="newCustomer.address2" name="customerAddress2" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input id="email" v-model="newCustomer.email" name="customerEmail" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="customerZipCode" class="col-form-label">Zip code</label>
                                    <input id="customerZipCode" v-model="newCustomer.zipCode" name="customerZipCode" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="customerCompany" class="col-form-label">Company</label>
                                    <input id="customerCompany" v-model="newCustomer.company" name="customerCompany" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="customerCity" class="col-form-label">City</label>
                                    <input id="customerCity" v-model="newCustomer.city" name="customerCity" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="customerCountry" class="col-form-label">Country</label>
                                    <select id="customerCountry" name="country" class="custom-select" v-model="newCustomer.country">
                                        <option v-for="country in countries" :key="country" :value="country">{{ country }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="taxExempt" class="col-form-label">Is this customer tax exempt ?</label>
                                    <toggle-button id="taxExempt" v-model="newCustomer.taxExempt" color="#5355d2"/>                                </div>
                                <div class="form-group col-5">
                                    <label for="discountEligible" class="col-form-label">Is this customer discount eligible ?</label>
                                    <toggle-button id="discountEligible" v-model="newCustomer.discountEligible" color="#5355d2"/>                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#customerModal">
                            <div class="col">
                                <button @click="insertNewCustomer" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="carModal" v-if="selectedCustomerID">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Insert new car</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row" v-if="VINerror">
                                <div class="alert alert-danger" role="alert">
                                    VIN is empty or does not have 16 or 17 characters!
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleVIN" class="col-form-label">VIN</label>
                                    <input id="vehicleVIN" v-model="vehicleVIN" name="vehicleVIN" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="VINfetchButton" class="col-form-label">Fill vehicle info automatically</label>
                                    <button id="VINfetchButton" type="button" class="btn user-button" @click="fetchCarDetailsByVin">Fetch</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleYear" class="col-form-label">Year</label>
                                    <input id="vehicleYear" v-model="vehicleYear" name="vehicleYear" type="text" class="form-control" required="true">
                                </div>
                                <div class="form-group col-5">
                                    <label for="vehicleMake" class="col-form-label">Make</label>
                                    <input id="vehicleMake" v-model="vehicleMake" name="vehicleMake" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleModel" class="col-form-label">Model</label>
                                    <input id="vehicleModel" v-model="vehicleModel" name="vehicleModel" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="vehicleType" class="col-form-label">Type</label>
                                    <input id="vehicleType" v-model="vehicleType" name="vehicleMake" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleMileage" class="col-form-label">Mileage</label>
                                    <input id="vehicleMileage" v-model="vehicleMileage" name="vehicleMileage" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="vehicleColor" class="col-form-label">Color</label>
                                    <input id="vehicleColor" v-model="vehicleColor" name="vehicleColor" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehiclePlate" class="col-form-label">License Plate</label>
                                    <input id="vehiclePlate" v-model="vehiclePlate" name="vehiclePlate" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleEngine" class="col-form-label">Engine Size</label>
                                    <input id="vehicleEngine" v-model="vehicleEngine" name="vehicleEngine" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="vehicleProdDate" class="col-form-label">Production Date</label>
                                    <input id="vehicleProdDate" v-model="vehicleProdDate" name="vehicleProdDate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="vehicleTransmission" class="col-form-label">Transmission</label>
                                    <input id="vehicleTransmission" v-model="vehicleTransmission" name="vehicleTransmission" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="vehicleDriveTrain" class="col-form-label">Drivetrain</label>
                                    <input id="vehicleDriveTrain" v-model="vehicleDriveTrain" name="vehicleDriveTrain" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="note" class="col-form-label">Note</label>
                                <input id="note" v-model="vehicleNote" name="vehicleNote" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#carModal">
                            <div class="col">
                                <button @click="insertNewCar" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
import { CoolSelect } from 'vue-cool-select';
import 'vue-cool-select/dist/themes/bootstrap.css'
import Multiselect from 'vue-multiselect'
Vue.component('multiselect', Multiselect);
import moment from 'moment';
import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-default.css';
import Vue from "vue";
import ToggleButton from 'vue-js-toggle-button'
import Echo from 'laravel-echo';
export default {

    props: ['creatingUser', 'countries', 'loggedUserCompany'],
    name: "OrderManagementComponent",

    data() {
        return {
            newCarButtonPressed: false,
            isEstimate: true,
            currentEstimate: {
                comments: '',
                partsTotal: 0,
                servicesTotal: 0,
                total: 0,
                is_paid: false,
                send_sms: false,
            },
            newCustomer: {
                firstName: '',
                lastName: '',
                address1: '',
                address2: '',
                phone: '',
                email: '',
                zipCode: '',
                company: '',
                taxExempt: false,
                city: '',
                country: '',
                discountEligible: false,
            },
            services: [],
            totalSelectedParts: 0,
            partsQuantity: '',
            selectedCustomerID: '',
            selectedTechnicianID: '',
            customers: [],
            employees: [],
            selectedCarID: '',
            cars: [],
            saveEstimateButton: 0,
            orderComments: '',
            myParts: [],
            myServices: [],
            selectedParts: [],
            selectedServices: [],
            currentTime: moment().format('YYYY-MM-DD HH:mm:ss'),
            vehicleYear: '',
            vehicleMake: '',
            vehicleModel: '',
            vehicleType: '',
            vehicleMileage: '',
            vehicleColor: '',
            vehiclePlate: '',
            vehicleVIN: '',
            vehicleEngine: '',
            vehicleProdDate: '',
            vehicleTransmission: '',
            vehicleDriveTrain: '',
            vehicleNote: '',
            VINerror: false,
            carDataInfoFetched:{},
            insertedEstimateId: '',

        }
    },

    beforeMount() {
        Vue.use(ToggleButton);
        Vue.use(VueToast);
        this.getCompanyCustomers();
        this.getParts();
        this.getCompanyServices();
    },

    mounted() {
        window.Echo.private(`partsStock.${this.loggedUserCompany}`)
            .listen('PartStockLow', (e) => {
                this.handleWebSocketUID(e.message);
            });
    },

    methods: {
        handleWebSocketUID(e) {
            console.log(e);
            Vue.$toast.open({
                message: e,
                position: 'top-right',
                type: 'success',
            });
        },

        exportEstimate() {
            axios.post('/api/estimate/export', {
                id: this.insertedEstimateId
            },{ headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                Vue.$toast.open({
                    message: 'Processing...',
                    position: 'top-right',
                    type: 'success',
                });
                const url = response.data.data;
                const link = document.createElement('a');
                link.href = url;
                link.click();
            });
        },

        getCompanyCustomers() {
            axios.get('/api/customer/get', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.customers = response.data;
            });
        },

        getCustomerCars() {
            axios.get('/api/customer/cars/' + this.selectedCustomerID, { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.cars = response.data;
            });
        },

        saveEstimate() {
            this.saveEstimateButton = 1;
            axios.post('/api/estimate/store', {
                parts: this.selectedParts,
                services: this.selectedServices,
                customer: this.selectedCustomerID,
                car: this.selectedCarID,
                current_time: this.currentTime,
                current_estimate: this.currentEstimate,
                is_estimate: this.isEstimate,

            }, { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.insertedEstimateId = response.data;
                Vue.$toast.open({
                    message: 'Estimate saved successfully',
                    position: 'top-right',
                    type: 'success',
                });
            }).catch(e => {
                Vue.$toast.open({
                    message: 'Stock is empty!',
                    position: 'top-right',
                    type: 'warning',
                });
            });
        },

        getParts() {
            axios.get('/api/part/get',  { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.myParts = response.data;
            });
        },

        getCompanyServices() {
            axios.get('/api/services/get/all',  { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.myServices = response.data;
            });
        },

        customLabelParts({ part_desc, part_number }) {
            return `${part_desc} — [${part_number}]`;
        },

        customLabelServices({ service_name, hours }) {
            return `${service_name}—${hours} hour(s)`;
        },

        searchCustomersArrayByID(id, choice) {
            for(let i = 0; i < this.customers.length; i++) {
                if(this.customers[i].id === id) {
                    if(choice === 'name') return this.customers[i].first_name + ' ' + this.customers[i].last_name;
                    if(choice === 'address') return this.customers[i].address_line1 + ' ' + this.customers[i].city;
                }
            }

            return ' ';
        },

        searchCarsArrayByID(id, choice) {
            for(let i = 0; i < this.cars.length; i++) {
                if(this.cars[i].id === id) {
                    if(choice === 'model') return this.cars[i].model_year + ' ' + this.cars[i].model;
                    if(choice === 'vin') return this.cars[i].VIN;
                    if(choice === 'mileage') return this.cars[i].mileage;
                }
            }
            return ' ';
        },

        searchPartsArrayByID(id, choice) {
            for(let i = 0; i < this.parts.length; i++) {
                if(this.parts[i].id === id) {
                    if(choice === 'unit_price') return this.parts[i].unit_price;
                    if(choice === 'retail_price') return this.parts[i].retail_price;
                }
            }
            return ' ';
        },

        computeTotalSelectedParts() {
            let total = 0;
            if(this.selectedParts.length) {
                for (let i = 0; i < this.selectedParts.length; i++) {
                    total += this.selectedParts[i].retail_price * this.selectedParts[i].partsQuantity;
                }
            }
            this.currentEstimate.partsTotal = total;
            return total;
        },

        computeTotalSelectedServices() {
            let total = 0;
            for(let i = 0; i < this.selectedServices.length; i++) {
                total += this.selectedServices[i].service_fixed_price;
            }
            this.currentEstimate.servicesTotal = total;
            return total;
        },

        computeTotalEstimate() {
            let total = 0;
            total = this.currentEstimate.partsTotal + this.currentEstimate.servicesTotal;
            this.currentEstimate.total = total;
            return total;
        },
        // checkConditions() {
        //     if(this.selectedParts && this.selectedServices && this.selectedCustomerID
        //         && this.selectedCarID && this.selectedTechnicianID) {
        //         return true;
        //     }
        //     return false;
        // },
        insertNewCustomer() {
            axios.post('/api/customer/insert', {
                first_name: this.newCustomer.firstName,
                last_name: this.newCustomer.lastName,
                phone: this.newCustomer.phone,
                address1: this.newCustomer.address1,
                address2: this.newCustomer.address2,
                zip_code: this.newCustomer.zipCode,
                tax_exempt: this.newCustomer.taxExempt,
                discount_eligible: this.newCustomer.discountEligible,
                email: this.newCustomer.email,
                company: this.newCustomer.company,
                city: this.newCustomer.city,
                country: this.newCustomer.country,
            }, {
                headers: {'Authorization': "Bearer " + this.apiToken}
            }).then(() => {
                this.getCompanyCustomers();
                Vue.$toast.open({
                    message: 'Customer added successfully!',
                    position: 'top-right',
                    type: 'success',
                });
            });
        },

        insertNewCarButton() {
            this.newCarButtonPressed = !this.newCarButtonPressed;
        },

        insertNewCar() {
            axios.post('/api/car/insert', {
                model_year: this.vehicleYear,
                make: this.vehicleMake,
                model: this.vehicleModel,
                type: this.vehicleType,
                mileage: this.vehicleMileage,
                color: this.vehicleColor,
                license_plate: this.vehiclePlate,
                vin: this.vehicleVIN,
                note: this.vehicleNote,
                engine_size: this.vehicleEngine,
                production_date: this.vehicleProdDate,
                transmission: this.vehicleTransmission,
                drive_train: this.vehicleDriveTrain,
                customer_id: this.selectedCustomerID,
            }, {
                headers: {'Authorization': "Bearer " + this.apiToken}
            }).then(() => {
                this.getCustomerCars();
            }).catch(e => {
                Vue.$toast.open({
                    message: 'Error occurred! Field left empty!',
                    position: 'top-right',
                    type: 'warning',
                });
            });
        },

        fetchCarDetailsByVin() {
            if(this.vehicleVIN && (this.vehicleVIN.length === 17 || this.vehicleVIN.length === 16)) {
                axios.post('/api/car/extern/fetch/data/vin', {
                    vin: this.vehicleVIN.toUpperCase()
                }, {
                    headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                    this.carDataInfoFetched = response.data;
                    this.vehicleMake = this.carDataInfoFetched.decode;
                    for(let i = 0; i < this.carDataInfoFetched.decode.length; i++) {
                        let datum = this.carDataInfoFetched.decode[i];
                        switch(datum.label) {
                            case 'Make':
                                this.vehicleMake = datum.value;
                                break;
                            case 'Model':
                                this.vehicleModel = datum.value;
                                break;
                            case 'Series':
                                this.vehicleModel += datum.value;
                                break;
                            case 'Model Year':
                                this.vehicleYear = datum.value;
                                break;
                            case 'Drive':
                                this.vehicleDriveTrain = datum.value;
                                break;
                            case 'Engine Displacement (ccm)':
                                this.vehicleEngine = datum.value;
                                break;
                            case 'Body':
                                this.vehicleType = datum.value;
                                break;
                            case 'Color':
                                this.vehicleColor = datum.value;
                                break;
                            case 'Made':
                                this.vehicleProdDate = datum.value;
                                break;
                            case 'Transmission':
                                this.vehicleTransmission = datum.value;
                                break;
                        }
                    }
                    Vue.$toast.open({
                        message: 'Car data fetched successfully!',
                        position: 'top-right',
                        type: 'info',
                    })
                }).catch(() => {
                    Vue.$toast.open({
                        message: 'Error in fetching car data!',
                        position: 'top-right',
                        type: 'warning',
                    })
                });

            } else {
                this.VINerror = true;
            }
        },

    },

    components: {
        CoolSelect,
        Multiselect,
    }

}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
