<template>

    <div class="container pt-3 pb-5">
        <div class="row pb-3">
            <div class="col text-left">
                <h2>Parts inventory</h2>
            </div>
            <div class="col text-right">
                <button class="btn user-button" v-on:click="" data-toggle="modal" data-target="#partModal">
                    <i class="far fa-plus-square"></i> Add new part
                </button>
                <button class="btn user-button ml-2" style="border-radius: 50%;" v-on:click="" data-toggle="modal" data-target="#importModal">
                    Import
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="container border bg-white pb-3 pl-4 pr-4">
                    <div class="row justify-content-between pt-3">
                        <div class="col-2">
                            <h5>Total quantity</h5>
                        </div>
                        <div class="col-2 text-center">
                            <H5>Total cost</H5>
                        </div>
                        <div class="col-2 text-center">
                            <h5>Total value</h5>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-2 text-center">
                            <p style="word-wrap: break-word;">{{this.totalStock}}</p>
                        </div>
                        <div class="col-2 text-center">
                            <p style="word-wrap: break-word;">{{this.totalCost.toFixed(2)}}€</p>
                        </div>
                        <div class="col-2 text-center">
                           <p style="word-wrap: break-word;"> {{this.totalValue.toFixed(2)}}€</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>

        <div class="row pt-4">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="search" v-model="searchText" class="form-control" placeholder="Search part" aria-label="search part" aria-describedby="basic-addon2" @keyup="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary user-button" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-left">
                <b-pagination
                    pills
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="partsTable"
                ></b-pagination>
            </div>
            <div class="col text-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle user-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export as
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" @click="exportParts('XLSX')">XLSX</a>
                        <a class="dropdown-item" @click="exportParts('PDF')">PDF</a>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <b-table id="partsTable" striped hover :items="partsArray" :fields="fields" :per-page="perPage"
                     :current-page="currentPage" selectable ref="selectableTable"
                     @row-clicked="tableRowClicked" class="mt-3" data-toggle="modal" data-target="#rowModal">
            </b-table>
        </div>


        <div class="modal fade" id="importModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Import parts list</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data">
                            <label for="fileInput" class="col-4 col-form-label">File (.xlsx format)</label>
                            <div class="col-9">
                                <input type="file" @change="selectFile" name="xlsxFile" id="fileInput">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col">
                                <button name="downloadTemplate" @click="downloadTemplate" type="button" class="btn btn-outline-info" data-dismiss="modal">Download template</button>
                            </div>
                            <div class="col-3">
                                <button name="submit" v-on:click="handleImport" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col-3">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="partModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add new part</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="partDesc" class="col-4 col-form-label">Part Description</label>
                                <div class="col-8">
                                    <input id="partDesc" v-model="partDesc" name="partNumber" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="partNumber" class="col-4 col-form-label">Part Number</label>
                                <div class="col-8">
                                    <input id="partNumber" v-model="partNumber" name="partNumber" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unitPrice" class="col-4 col-form-label">Unit price</label>
                                <div class="col-8">
                                    <input id="unitPrice" v-model="unitPrice" name="unitPrice" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="retailPrice" class="col-4 col-form-label">Retail Price</label>
                                <div class="col-8">
                                    <input id="retailPrice" v-model="retailPrice" name="retailPrice" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="stock" class="col-4 col-form-label">Stock</label>
                                <div class="col-8">
                                    <input id="stock" v-model="stock" name="stock" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vendor" class="col-4 col-form-label">Vendor</label>
                                <div class="col-8">
                                    <input id="vendor" v-model="vendor" name="vendor" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="criticalQty" class="col-4 col-form-label">Critical quantity</label>
                                <div class="col-8">
                                    <input id="criticalQty" v-model="criticalQty" name="criticalQty" type="number" class="form-control">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end">
                            <div class="col">
                                <button @click="insertNewPart" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rowModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Update part</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="partDescUpdate" class="col-4 col-form-label">Part Description</label>
                                <div class="col-8">
                                    <input id="partDescUpdate" v-model="shownItems.part_desc" name="partDescUpdate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="partNumberUpdate" class="col-4 col-form-label">Part Number</label>
                                <div class="col-8">
                                    <input id="partNumberUpdate" v-model="shownItems.part_number" name="partNumberUpdate" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unitPriceUpdate" class="col-4 col-form-label">Unit price</label>
                                <div class="col-8">
                                    <input id="unitPriceUpdate" v-model="shownItems.unit_price" name="unitPriceUpdate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="retailPriceUpdate" class="col-4 col-form-label">Retail Price</label>
                                <div class="col-8">
                                    <input id="retailPriceUpdate" v-model="shownItems.retail_price" name="retailPriceUpdate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="stockUpdate" class="col-4 col-form-label">Stock</label>
                                <div class="col-8">
                                    <input id="stockUpdate" v-model="shownItems.stock" name="stockUpdate" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vendorUpdate" class="col-4 col-form-label">Vendor</label>
                                <div class="col-8">
                                    <input id="vendorUpdate" v-model="shownItems.vendor" name="vendorUpdate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="criticalQtyUpdate" class="col-4 col-form-label">Critical quantity</label>
                                <div class="col-8">
                                    <input id="criticalQtyUpdate" v-model="shownItems.critical_quantity" name="criticalQtyUpdate" type="number" class="form-control">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end">
                            <div class="col">
                                <button name="deletePart" @click="deletePart" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                            </div>
                            <div class="col">
                                <button @click="updatePart" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</template>

<script>
    import Vue from 'vue';
    import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
    import 'bootstrap-vue/dist/bootstrap-vue.css';
    import moment from "moment";
    import VueToast from 'vue-toast-notification';
    import 'vue-toast-notification/dist/theme-default.css';
    Vue.use(BootstrapVue);
    Vue.use(IconsPlugin);

    export default {
        name: "PartsComponent",
        props: ['parts', 'apiToken'],

        data() {
            return {
                shownItems: [],
                perPage: 5,
                currentPage: 1,
                file: '',
                exportChoice: '',
                searchText: '',
                totalStock: 0,
                totalCost: 0,
                totalValue: 0,
                partsArray: [],
                vendor: '',
                retailPrice: '',
                partDesc: '',
                partNumber: '',
                unitPrice: '',
                criticalQty: '',
                stock: '',
                fields: [
                    {
                        key: 'part_desc',
                        sortable: true
                    },
                    {
                        key: 'part_number',
                        sortable: true,
                    },
                    {
                        key: 'unit_price',
                        label: 'Cost',
                        sortable: true,
                    },
                    {
                        key: 'retail_price',
                        label: 'Retail',
                        sortable: true,
                    },
                    {
                        key: 'stock',
                        sortable: true
                    },
                    {
                        key: 'vendor',
                        sortable: true
                    },
                    {
                        key: 'critical_quantity',
                        sortable: true
                    }
                ],
            }
        },

        beforeMount() {
            this.parts.forEach((part, index) => this.$set(this.partsArray, index, part));

            this.partsArray.forEach((part, index) => {
               this.totalStock += +part.stock;
               this.totalCost += +part.stock * +part.unit_price;
               this.totalValue += +part.stock * +part.retail_price;
            });
        },

        mounted() {
            Vue.use(VueToast);
        },

        computed: {
            rows() {
                return this.partsArray.length;
            }
        },

        methods: {

            search: _.debounce(function () {
                    axios.post('/api/part/search', {
                        search: this.searchText
                    }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                    }).then((response) => {
                        this.partsArray = response.data;
                    });
                }, 800),

            updateStocks() {
                let localTotalStock = 0;
                let localTotalCost = 0;
                let localTotalValue = 0;
                this.partsArray.forEach((part) => {
                    localTotalStock = +localTotalStock + +part.stock;
                    localTotalCost = (+localTotalCost + (+part.stock * +part.unit_price));
                    localTotalValue = (+localTotalValue + (+part.stock * +part.retail_price));
                });
                console.log(localTotalStock);
                this.totalStock = localTotalStock;
                this.totalCost = localTotalCost;
                this.totalValue = localTotalValue;
            },

            updateTotalStock(stock) {
                this.totalStock = stock;
            },

            updateTotalCost(cost) {
                this.totalCost = cost;
            },

            updateTotalValue(value) {
                this.totalValue = value;
            },

            exportParts(value) {
                if(value === 'XLSX') {
                    this.exportChoice = 'XLSX';
                    axios({
                        method: 'post',
                        url: '/api/export/parts',
                        data: {choice: this.exportChoice},
                        headers: {'Authorization': "Bearer " + this.apiToken}
                    }).then((response) => {
                        const url = response.data.data;
                        const link = document.createElement('a');
                        link.href = url;
                        link.click();
                    });
                } else if(value === 'PDF') {
                    this.exportChoice = 'PDF';
                    axios({
                        method: 'post',
                        url: '/api/export/parts',
                        data: {choice: this.exportChoice},
                        headers: {'Authorization': "Bearer " + this.apiToken}
                    }).then((response) => {
                        const url = response.data.data;
                        const link = document.createElement('a');
                        link.href = url;
                        link.click();
                    });
                } else {
                    this.exportChoice = 'error';
                }
            },

            getParts() {
                axios.get('/api/part/get',  { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.partsArray = response.data;
                    this.updateStocks();
                });
            },


            handleImport() {
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post( '/api/import/parts',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'Authorization': "Bearer " + this.apiToken,
                        }
                    }
                ).then(() => {
                    this.getParts();
                    Vue.$toast.open({
                        message: 'File successfully uploaded!',
                        position: 'top-right',
                        type: 'success',
                    });
                    }).catch(() => {
                        this.getParts();
                        console.log('FAILURE!!');
                    });
            },

            selectFile(event) {
                this.file = event.target.files[0]; //files array because of multiple mode
            },

            downloadTemplate() {
                const url = 'https://autoshopsoftwareassets.s3.eu-west-3.amazonaws.com/autoshopsoftware-import-parts-template.xlsx';
                const link = document.createElement('a');
                link.href = url;
                link.click();
            },

            insertNewPart() {
                axios.post('/api/part/insert', {
                    part_desc: this.partDesc,
                    part_number: this.partNumber,
                    unit_price: this.unitPrice,
                    retail_price: this.retailPrice,
                    stock: this.stock,
                    vendor: this.vendor,
                    critical_quantity: this.criticalQty
                }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.getParts();
                    Vue.$toast.open({
                        message: 'Part inserted successfully',
                        position: 'top-right',
                        type: 'success',
                    });

                });

            },

            tableRowClicked(record, index) {
                this.shownItems = record;
                console.log('Row clicked: ' + record + ' and ' + index);
                console.log('\n Shown items: ' + this.shownItems);

            },

            updatePart() {
                axios.put('/api/part/update', {
                    part_desc: this.shownItems.part_desc,
                    part_number: this.shownItems.part_number,
                    unit_price: this.shownItems.unit_price,
                    retail_price: this.shownItems.retail_price,
                    stock: this.shownItems.stock,
                    vendor: this.shownItems.vendor,
                    critical_quantity: this.shownItems.critical_quantity
                }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    this.getParts();
                    Vue.$toast.open({
                        message: 'Part updated successfully',
                        position: 'top-right',
                        type: 'success',
                    });
                });
            },

            deletePart() {
               axios.delete('/api/part/delete/' + this.shownItems.part_number,
                   { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    this.getParts();
                    Vue.$toast.open({
                        message: 'Part deleted successfully',
                        position: 'top-right',
                        type: 'success',
                    });
                });
            },
        },

        components: {
            BootstrapVue,
            IconsPlugin,
        },

    }
</script>

<style scoped>

</style>
