<template>

    <div class="container">
        <div class="container">
            <div class="row justify-content-between pb-3 pt-3">
                <div class="col text-left">
                    <h2>Workflow</h2>
                </div>
                <div class="col text-right">
                    <a class="btn user-button" href="/orders">
                        <i class="fas fa-file-invoice-dollar"></i>  New Estimate
                    </a>
                </div>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col text-center">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Estimates</h5>
                    </div>
                </div>
            </div>

            <div class="col text-center">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Invoices</h5>
                    </div>
                </div>
            </div>

            <div class="col text-center">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">In progress</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card border user-border shadow mb-2" v-for="(estimate, index) in newEstimates" :key="estimate.id">
                    <div class="card-body border">
                        <div class="row ml-1 mr-1 justify-content-between">
                            <h5 class="card-title">{{ estimate.services[0].service_name }}</h5>
                            <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" v-on:click="deleteEstimate(estimate.id)">Delete</a>
                                <a class="dropdown-item" v-on:click="exportPDF(estimate.id)">Print</a>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text mb-0"> <span style="color: gray;"> <i class="fas fa-car fa-lg pt-1 mr-1"></i></span>
                            {{ estimate.car_id.model_year + ' ' +  estimate.car_id.model}}</p>
                        <p class="card-text"> <span style="color: gray;"> <i class="fas fa-user-tie fa-lg pt-1 mr-1"></i> </span>
                            {{ estimate.customer_id.first_name + ' ' + estimate.customer_id.last_name}}</p>
                        <div class="row">
                            <div class="col text-right">
                                <p class="text-success mb-0 pb-0"> </p>
                                ${{ estimate.total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border user-border shadow mb-2" style="" v-for="(invoice, index) in invoices" :key="invoice.id">
                    <div class="card-body">
                        <div class="row ml-1 mr-1 justify-content-between">
                            <h5 class="card-title">{{ invoice.services[0].service_name }}</h5>
                            <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" v-on:click="deleteEstimate(invoice.id)">Delete</a>
                                <a class="dropdown-item" v-on:click="exportPDF(invoice.id)">Print</a>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text mb-0"> <span style="color: gray;"> <i class="fas fa-car fa-lg pt-1 mr-1"></i></span>
                            {{ invoice.car_id.model_year + ' ' +  invoice.car_id.model}}</p>
                        <p class="card-text"> <span style="color: gray;"> <i class="fas fa-user-tie fa-lg pt-1 mr-1"></i> </span>
                            {{ invoice.customer_id.first_name + ' ' + invoice.customer_id.last_name}}</p>
                        <div class="row">
                            <div class="col text-left" v-if="!invoice.is_paid">
                                <button type="button" class="btn user-button btn-xs" data-toggle="modal" data-target="#payModal">
                                    Pay
                                </button>
                            </div>
                            <div class="col text-right" >
                                <p class="text-success mb-0 pb-0">{{ invoice.is_paid === 0 ? 'Not paid' : 'Paid' }} </p>
                                ${{ invoice.total }}
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="payModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Pay</h2>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <!--                        <form>-->
                                    <!--                            <div class="form-group row">-->
                                    <!--                                <label for="partDescUpdate" class="col-4 col-form-label">Part Description</label>-->
                                    <!--                                <div class="col-8">-->
                                    <!--                                    <input id="partDescUpdate" v-model="shownItems.part_desc" name="partDescUpdate" type="text" class="form-control">-->
                                    <!--                                </div>-->
                                    <!--                            </div>-->
                                    <!--                                -->
                                    <!--                        </form>-->
                                    Are you sure ?

                                </div>
                                <div class="modal-footer">
                                    <div class="row justify-content-end">
                                        <div class="col">
                                            <button name="deletePart" @click="payInvoice(invoice.id)" type="button" class="btn btn-danger" data-dismiss="modal">Pay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">

            </div>
        </div>


    </div>


</template>

<script>
    import VueToast from 'vue-toast-notification';
    import 'vue-toast-notification/dist/theme-default.css';
    import Vue from "vue";

    export default {
        props: ['estimates'],
        name: "WorkflowManagementComponent",
        data() {
            return {
                myEstimates: [],
                invoices: [],
                newEstimates: [],
                inProgress: [],
            }
        },

        mounted() {
            Vue.use(VueToast);
            this.myEstimates = this.estimates;
            this.updateLists();
        },

        methods: {

            payInvoice(id) {
                console.log(id);
                axios.post('/api/estimate/pay/' + id,  { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                   this.invoices.forEach((invoice, index) => {
                      if(invoice.id === id) {
                          invoice.is_paid = true;
                      }
                   });
                });
            },


            exportPDF(id) {
                axios.get('/api/estimate/print/' + id,  { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    Vue.$toast.open({
                        message: response.data.info,
                        position: 'top-right',
                        type: 'success',
                    });
                    if (response.data.data) {

                        const url = response.data.data;
                        const link = document.createElement('a');
                        link.href = url;
                        link.click();
                    }
                }).catch((error) => {

                });

            },

            updateLists() {
                this.myEstimates.forEach((estimate, index) => {
                    if(estimate.is_invoice === 1) {
                        this.invoices.push(estimate);
                    }

                    if(estimate.is_invoice === 0) {
                        this.newEstimates.push(estimate);
                    }
                });
            },

            deleteEstimate(id) {
                console.log(id);
                let ok = 0;
                this.newEstimates.forEach((estimate, index) => {
                    if(estimate.id === id) {
                        this.newEstimates.splice(index, 1);
                        console.log(index);
                        ok = 1;
                        console.log(this.newEstimates);
                    }
                });
                console.log(ok);
                if(ok === 0) { //if already deleted don't look again
                    this.invoices.forEach((estimate, index) => {
                        if(estimate.id === id) {
                            this.invoices.splice(index);
                            ok = 1;
                        }
                    });
                }
                axios.delete('/api/estimate/delete/' + id,
                    { headers: { 'Authorization': "Bearer " + this.apiToken }
                    }).then(() => {
                    Vue.$toast.open({
                        message: 'Part deleted successfully',
                        position: 'top-right',
                        type: 'success',
                    });
                    this.getAllEstimates();
                });
            },

            getAllEstimates() {
                    axios.get('/api/estimate/get/all',  { headers: { 'Authorization': "Bearer " + this.apiToken }
                    }).then((response) => {
                        this.myEstimates = response.data;
                        this.invoices = [];
                        this.newEstimates = [];
                        this.updateLists();
                    });
            },
        },
    }
</script>

<style scoped>

</style>
