<template>
    <div class="container pt-3 pb-5">
        <div class="row pb-3">
            <div class="col text-left">
                <h2>Schedule a new customer</h2>
            </div>
            <div class="col text-right">
                <button class="btn user-button" v-on:click="getInvoices()" data-toggle="modal" data-target="#rowModal">
                    <i class="fas fa-user"></i> New appointment
                </button>
            </div>
        </div>
        <div class="row">
            <vue-cal ref="vuecal"
                     :selected-date="selectedDate"
                     :time-from="8 * 60"
                     :time-to="19 * 60"
                     active-view="week"
                     today-button
                     :min-event-width="minEventWidth"
                     :events="events"
                     events-on-month-view="short"
                     :disable-views="['day']"
                     :editable-events="{ title: true, drag: true, resize: false, delete: true, create: true }"
                     style="height: 600px"
                     class="vuecal--full-height-delete">
            </vue-cal>
        </div>

        <div class="modal fade" id="rowModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Please confirm</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="title" class="col-form-label">Title</label>
                                    <input id="title" v-model="title" name="title" type="text" class="form-control" placeholder="New Appointment">
                                </div>
                                <div class="form-group col-5">
                                    <label for="SMStoggle" class="col-form-label">Send SMS Confirmation</label>
                                    <toggle-button id="SMStoggle" v-model="toggleVariable" color="#5355d2"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="startDate" class="col-form-label">Start Date</label>
                                        <input id="startDate" v-model="startDate" name="startDate" type="date" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="startTime" class="col-form-label">Start Time</label>
                                        <input id="startTime" v-model="startTime" name="startTime" type="time" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="endDate" class="col-form-label">End Date</label>
                                    <input id="endDate" v-model="endDate" name="startDate" type="date" class="form-control" :disabled="!startTime">
                                </div>
                                <div class="form-group col-5">
                                    <label for="endTime" class="col-form-label">End Time</label>
                                    <input id="endTime" v-model="endTime" name="startTime" type="time" class="form-control" :disabled="!startTime">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="content" class="col-form-label">Special mentions</label>
                                    <input id="content" v-model="content" name="content" type="text" class="form-control" placeholder="Special mentions">
                                </div>
                            </div>
                        </form>

                        <hr>

                        <h5 v-if="!scheduleAnOrder">Select an available customer: </h5>
                        <cool-select
                                    v-model="selectedCustomerID"
                                    :items="customers"
                                    :placeholder="selectedCustomerID ? '' : 'Select customer'"
                                    item-value="id"
                                    item-text="id"
                                    v-if="!scheduleAnOrder"
                                    >
                            <!-- slot for each item in the menu -->
                            <template slot="item" slot-scope="{ item: customer }">
                                <div style="display: flex; align-items: center;">

                                    <div>
                                        {{ customer.first_name + ' ' + customer.last_name }}
                                        <b>{{ customer.phone }}</b>
                                    </div>
                                </div>
                            </template>
                            <!-- slot for the selected item (in the text field) -->
                            <template slot="selection" slot-scope="{ item: customer }">
<!--                                <img :src="getFlag(timezone.countryCode)" class="country-flag">-->

                                <div>
                                    {{ customer.first_name + ' ' + customer.last_name }}
                                    <b>{{ customer.phone }}</b>
                                </div>
                            </template>

                        </cool-select>

                        <hr>

                        <h5>Select an available technician: </h5>

                        <cool-select
                            v-model="selectedTechnicianID"
                            :items="freeTechnicians"
                            :placeholder="selectedTechnicianID ? '' : 'Select technician'"
                            item-value="id"
                            item-text="id"
                            :disabled="!endTime"
                        >
                            <template slot="item" slot-scope="{ item: technician }">
                                <div style="display: flex; align-items: center;">
                                    <div>
                                        {{ technician.first_name + ' ' + technician.last_name }}
                                        <b>{{ technician.price_rate }}</b>
                                    </div>
                                </div>
                            </template>
                            <!-- slot for the selected item (in the text field) -->
                            <template slot="selection" slot-scope="{ item: technician }">
                                <div>
                                    {{ technician.first_name + ' ' + technician.last_name }}
                                    <b>{{ technician.price_rate }}</b>
                                </div>
                            </template>

                        </cool-select>

                        <hr>

                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <div class="btn user-button" data-toggle="modal" data-target="#customerModal">
                                    Add new customer
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <div class="btn user-button" v-on:click="scheduleOrder" data-toggle="modal" data-target="#orderModal">
                                    Schedule an order
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#rowModal">
                            <div class="col">
                                <button @click="insertNewAppointment" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal" @click="toggleOrderButton">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="customerModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Insert new customer</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form v-if="customerTab">
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="firstName" class="col-form-label">First Name</label>
                                    <input id="firstName" v-model="customerFirstName" name="customerFirstName" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="lastName" class="col-form-label">Last Name</label>
                                    <input id="lastName" v-model="customerLastName" name="customerLastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="phone" class="col-form-label">Phone</label>
                                    <input id="phone" v-model="customerPhone" name="customerPhone" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="address1" class="col-form-label">Address 1</label>
                                    <input id="address1" v-model="customerAddress1" name="customerAddress1" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="address2" class="col-form-label">Address 2</label>
                                    <input id="address2" v-model="customerAddress2" name="customerAddress2" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input id="email" v-model="customerEmail" name="customerEmail" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="customerZipCode" class="col-form-label">Zip code</label>
                                    <input id="customerZipCode" v-model="customerZipCode" name="customerZipCode" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="customerCompany" class="col-form-label">Company</label>
                                    <input id="customerCompany" v-model="customerCompany" name="customerCompany" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="customerCity" class="col-form-label">City</label>
                                    <input id="customerCity" v-model="customerCity" name="customerCity" type="text" class="form-control">
                                </div>
                                <div class="form-group col-5">
                                    <label for="customerCountry" class="col-form-label">Country</label>
                                    <select id="customerCountry" name="country" class="custom-select" v-model="customerCountry">
                                        <option v-for="country in countries" :key="country" :value="country">{{ country }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="taxExempt" class="col-form-label">Is this customer tax exempt ?</label>
                                    <toggle-button id="taxExempt" v-model="customerTaxExempt" color="#5355d2"/>                                </div>
                                <div class="form-group col-5">
                                    <label for="discountEligible" class="col-form-label">Is this customer discount eligible ?</label>
                                    <toggle-button id="discountEligible" v-model="customerDiscountEligible" color="#5355d2"/>                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#customerModal">
                            <div class="col">
                                <button @click="insertNewCustomerOrVehicle" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal" @click="toggleOrderButton">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="orderModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Schedule an order (invoice)</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                                <h5>Select an order to schedule: </h5>

                                <cool-select
                                    v-model="selectedInvoiceID"
                                    :items="invoices"
                                    :placeholder="selectedInvoiceID ? '' : 'Select invoice'"
                                    item-value="id"
                                    item-text="id"
                                >
                                    <template slot="item" slot-scope="{ item: invoice }">
                                        <div style="display: flex; align-items: center;">
                                            <div>
                                                #<b>{{ invoice.id}}</b> Total price: ${{ invoice.total }} --
                                                <b>{{ invoice.created_at }}</b>
                                            </div>
                                        </div>
                                    </template>
                                    <!-- slot for the selected item (in the text field) -->
                                    <template slot="selection" slot-scope="{ item: invoice }">
                                        <div>
                                            #<b>{{ invoice.id}}</b> Total price: ${{ invoice.total }} --
                                            <b>{{ invoice.created_at }}</b>
                                        </div>
                                    </template>

                                </cool-select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#orderModal">
                            <div class="col">
<!--                                <button @click="scheduleOrder" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>-->
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


</template>

<script>

import Vue from 'vue';
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';
import { CoolSelect } from 'vue-cool-select';
import ToggleButton from 'vue-js-toggle-button'
import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-default.css';
Vue.use(ToggleButton)

import 'vue-cool-select/dist/themes/bootstrap.css'

export default {
    props: ['apiToken', 'countries'],

    name: "ScheduleComponent",

    data() {
        return {
            customerFirstName: '',
            customerLastName: '',
            customerAddress1: '',
            customerAddress2: '',
            customerPhone: '',
            customerEmail: '',
            customerZipCode: '',
            customerCompany: '',
            customerTaxExempt: false,
            customerCity: '',
            customerCountry: '',
            customerDiscountEligible: false,
            minEventWidth: 0,
            selectedDate: new Date(),
            events: [],
            title: '',
            startDate: '',
            startTime: '',
            endDate: '',
            endTime: '',
            selectedEvent: {},
            selectedCustomerID: null,
            selectedTechnicianID: null,
            customers: [],
            technicians: [],
            content: '',
            toggleVariable: false,
            customerTab: true,
            vehicleYear: '',
            vehicleMake: '',
            vehicleModel: '',
            vehicleType: '',
            vehicleMileage: '',
            vehicleColor: '',
            vehiclePlate: '',
            vehicleVIN: '',
            vehicleEngine: '',
            vehicleProdDate: '',
            vehicleTransmission: '',
            vehicleDriveTrain: '',
            vehicleNote: '',
            VINerror: false,
            carDataInfoFetched:{},
            scheduleAnOrder: false,
            invoices: [],
            selectedInvoiceID: '',
            freeTechnicians: [],


        }
    },

    mounted() {
        Vue.use(VueToast);
        this.getAllCompanySchedules();
        this.getCustomers();
        this.getTechnicians();

    },

    watch: {
      endTime: function() {
          this.getWhoIsFree();
      }
    },

    methods: {

        getWhoIsFree() {
            if(this.endTime) {
                axios.post('/api/schedule/check', {
                    time_start: this.startDate + ' ' + this.startTime,
                    time_end: this.endDate + ' ' + this.endTime,
                }, {
                    headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                    this.freeTechnicians = response.data;
                });
            }
        },

        getInvoices() {
            axios.get('/api/estimate/invoices', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                this.invoices = response.data;
            });

        },

        toggleOrderButton() {
          this.scheduleAnOrder = false;
          this.selectedInvoiceID = null;
        },

        scheduleOrder() {
            this.scheduleAnOrder = true;
        },

        onCellClick(event, e) {
            // let newEvent = {
            //     start: '',
            //     end: '',
            //     title: '',
            //     content: '<i class="icon material-icons">block</i><br>I am not draggable, not resizable and not deletable.',
            //     class: 'blue-event',
            //     deletable: false,
            //     resizable: false,
            //     draggable: false
            // };
            this.selectedEvent = event;
            console.log(this.selectedEvent.start);
            e.stopPropagation(); // Prevent navigating to narrower view
        //    this.events.unshift(newEvent);
        },

        insertNewAppointment() {
            let newEvent = {
                start: this.startDate + ' ' + this.startTime,
                end: this.endDate + ' ' + this.endTime,
                title: this.title,
                content: '',
                class: 'appointment',
            };
            this.events.unshift(newEvent);

            if(this.scheduleAnOrder === false) {

            axios.post('/api/schedule/insert', {
                time_start: this.startDate + ' ' + this.startTime,
                time_end: this.endDate + ' ' + this.endTime,
                technician_id: this.selectedTechnicianID,
                customer_id: this.selectedCustomerID,
                title: this.title,
                special_content: this.content,
                sendSMS: this.toggleVariable,
                is_invoice: false
            }, { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then(() => {

            });
            } else {
                axios.post('/api/schedule/insert', {
                    time_start: this.startDate + ' ' + this.startTime,
                    time_end: this.endDate + ' ' + this.endTime,
                    technician_id: this.selectedTechnicianID,
                    is_invoice: true,
                    title: this.title,
                    special_content: this.content,
                    sendSMS: this.toggleVariable,
                    invoice_id: this.selectedInvoiceID
                }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {

                });
            }
            this.clearFields();
        },

        getAllCompanySchedules() {
            axios.get('/api/schedule/get', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                console.log(response.data);
                response.data.forEach((datum) => {
                    let newEvent = {
                        start: datum.time_start,
                        end: datum.time_end,
                        title: datum.title,
                        content: datum.content,
                        class: 'appointment',
                    };
                    this.events.push(newEvent);
                });
            });
        },

        clearFields() {
          this.startDate = '';
          this.endDate = '';
          this.startTime = '';
          this.endTime = '';
          this.title = '';
          this.content = '';

        },

        getCustomers() {
            axios.get('/api/customer/get', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                response.data.forEach((datum) => {
                    this.customers.push(datum);
                });
            });
        },

        getTechnicians() {
            axios.get('/api/employee/technician/get', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                console.log(response.data);
                response.data.forEach((datum) => {
                    this.technicians.push(datum);
                });
            });
        },

        insertNewCustomerOrVehicle() {
            this.scheduleAnOrder = false;
            if(this.customerTab === true) {
                axios.post('/api/customer/insert', {
                    first_name: this.customerFirstName,
                    last_name: this.customerLastName,
                    phone: this.customerPhone,
                    address1: this.customerAddress1,
                    address2: this.customerAddress2,
                    zip_code: this.customerZipCode,
                    tax_exempt: this.customerTaxExempt,
                    discount_eligible: this.customerDiscountEligible,
                    email: this.customerEmail,
                    company: this.customerCompany,
                    city: this.customerCity,
                    country: this.customerCountry,
                }, {
                    headers: {'Authorization': "Bearer " + this.apiToken}
                }).then(() => {
                    this.getCustomers();
                });
            }
            else if(this.customerTab === false) {

            }
        },

        showNewCustomerTab() {
            this.customerTab = true;
            this.VINerror = false;
        },

        showNewVehicleTab() {
            this.customerTab = false;
            this.VINerror = false;
        },

        fetchCarDetailsByVin() {
            if(this.vehicleVIN && (this.vehicleVIN.length === 17 || this.vehicleVIN.length === 16)) {
                axios.post('/api/car/extern/fetch/data/vin', {
                    vin: this.vehicleVIN.toUpperCase()
                }, {
                    headers: {'Authorization': "Bearer " + this.apiToken}
                }).then((response) => {
                    this.carDataInfoFetched = response.data;
                    this.vehicleMake = this.carDataInfoFetched.decode;
                    for(let i = 0; i < this.carDataInfoFetched.decode.length; i++) {
                        let datum = this.carDataInfoFetched.decode[i];
                        switch(datum.label) {
                            case 'Make':
                                this.vehicleMake = datum.value;
                                break;
                            case 'Model':
                                this.vehicleModel = datum.value;
                                break;
                            case 'Series':
                                this.vehicleModel += datum.value;
                                break;
                            case 'Model Year':
                                this.vehicleYear = datum.value;
                                break;
                            case 'Drive':
                                this.vehicleDriveTrain = datum.value;
                                break;
                            case 'Engine Displacement (ccm)':
                                this.vehicleEngine = datum.value;
                                break;
                            case 'Body':
                                this.vehicleType = datum.value;
                                break;
                            case 'Color':
                                this.vehicleColor = datum.value;
                                break;
                            case 'Made':
                                this.vehicleProdDate = datum.value;
                                break;
                            case 'Transmission':
                                this.vehicleTransmission = datum.value;
                                break;
                        }
                    }
                    Vue.$toast.open({
                        message: 'Car data fetched successfully!',
                        position: 'top-right',
                        type: 'info',
                    })
                }).catch(() => {
                    Vue.$toast.open({
                        message: 'Error in fetching car data!',
                        position: 'top-right',
                        type: 'warning',
                    })
                });

            } else {
                this.VINerror = true;
            }
        },

    },

    components: {
        VueCal,
        CoolSelect,
    }
}
</script>
