<template>

    <div class="mt-4">
        <h3>Manage Your Subscription</h3>

        <div class="container">
            <div class="row justify-content-center">
                <div class="card text-center">
                    <div class="card-header">
                        Subscription
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Subscription status</h5>
                        <p class="card-text">Your Premium subscription ends at {{ endDate }}.</p>
                        <p>After this, you will be demoted to free trial.</p>
                        <a id="cancel-subscription-button" v-if="cancelledStatus" class="btn btn-danger" v-on:click="cancelSubscription()">
                            Cancel subscription
                        </a>

                        <a id="resume-subscription-button" class="btn btn-success" v-on:click="resumeSubscription()">
                            Resume subscription
                        </a>

                        <p>

                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Premium plan
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    import Vue from 'vue';
    import VueToast from 'vue-toast-notification';
    import 'vue-toast-notification/dist/theme-default.css';

    export default {
        name: "CancelSubscription",
        props: ['subscriptionStatus', 'apiToken', 'endDate'],

        mounted() {
            Vue.use(VueToast);
        },

        data() {
            return {
                cancelledStatus: true,

            };
        },

        methods: {

            cancelSubscription() {
                axios.get('api/v1/user/cancel-subscription', { headers: { 'Authorization': "Bearer " + this.apiToken }
                })
                    .then(() => {
                        Vue.$toast.open({
                            message: 'Subscription cancelled!',
                            position: 'top-right',
                            type: 'info',
                        })
                    })
                    .catch(() => {
                        Vue.$toast.open({
                            message: 'Operation already fulfilled!',
                            position: 'top-right',
                            type: 'warning',
                        })
                    });
            },

            resumeSubscription() {
                axios.get('api/v1/user/resume-subscription', { headers: { 'Authorization': "Bearer " + this.apiToken }
                })
                    .then(() => {
                        Vue.$toast.open({
                            message: 'Subscription renewed successfully!',
                            position: 'top-right',
                            type: 'success',
                        });
                    })
                    .catch(() => {
                        Vue.$toast.open({
                            message: 'You are already subscribed!',
                            position: 'top-right',
                            type: 'warning',
                        })
                    });
            },

        }
    }
</script>

<style scoped>

</style>
