<template>

    <div class="container">
        <div class="modal fade" id="personalInfoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">User profile</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group row">
                                <label for="oldPassword" class="col-4 col-form-label">Old password</label>
                                <div class="col-8">
                                    <input id="oldPassword" name="currentPassword" v-model="currentPassword" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newPassword" class="col-4 col-form-label">New password</label>
                                <div class="col-8">
                                    <input id="newPassword"  name="newPassword" type="password" v-model="newPassword" class="form-control">
                                </div>
                            </div>


                        </form>
                        <div class="modal-footer">
                            <button class="btn user-button" @click="handleUpdate">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

import Vue from "vue";
import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-default.css';

export default {
    props: ['errors', 'apiToken'],
    name: "ChangePasswordComponent",

    mounted() {
        Vue.use(VueToast);
    },

    data() {
        return {
            currentPassword: '',
            newPassword: '',
        }
    },

    methods: {
        handleUpdate() {
            axios.post('/api/password/change', {
                    currentPassword: this.currentPassword,
                    newPassword: this.newPassword
                }, {headers: {'Authorization': "Bearer " + this.apiToken}}
            ).then((response) => {
                this.responseUser = response.data.message;
                Vue.$toast.open({
                    message: 'Password changed successfully!',
                    position: 'top-right',
                    type: 'success',
                })
            }).catch((response) => {
                Vue.$toast.open({
                    message: 'Current password was wrong!',
                    position: 'top-right',
                    type: 'warning',
                })
            });
        }
    }

}
</script>

<style scoped>

</style>
