<template>

    <div class="container pt-5">
        <div class="row justify-content-between pb-3">
            <div class="col text-left">
                <h2>Select a row to edit user</h2>
            </div>
            <div class="col text-right">
                <button class="btn user-button" v-on:click="initNewUserOperation()" data-toggle="modal" data-target="#rowModal">
                    <i class="fas fa-user"></i> Add new user
                </button>
            </div>
        </div>

        <div class="row justify-content-center">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Rate</th>
                    <th>Creation date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-toggle="modal" data-target="#rowModal" v-for="(employee, i) in employees" v-on:click="addToModal(employee)">
                    <th>{{ ++i }}</th>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.user_id.email }}</td>
                    <td>{{ employee.user_id.role }}</td>
                    <td>{{ employee.price_rate }}</td>
                    <td>{{ employee.user_id.created_at | moment }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="rowModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" v-if="addNewUserButton===false">Please confirm</h2>
                        <h2 class="modal-title" v-if="addNewUserButton===true">Please add a new user</h2>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="addNewUserButton=false"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="tagUid" class="col-4 col-form-label">RFID Tag UID</label>
                                <div class="col-8">
                                    <input id="tagUid" v-model="tagUid" name="tagUid" type="text"
                                           class="form-control" placeholder="Complete only if ArduCheck is available!">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="firstName" class="col-4 col-form-label">First Name</label>
                                <div class="col-8">
                                    <input id="firstName" v-model="firstName" name="firstName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastName" class="col-4 col-form-label">Last Name</label>
                                <div class="col-8">
                                    <input id="lastName" v-model="lastName" name="lastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-4 col-form-label">Phone</label>
                                <div class="col-8">
                                    <input id="phone" v-model="phone" name="phone" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="text" class="col-4 col-form-label">Rate</label>
                                <div class="col-8">
                                    <input id="text" v-model="rate" name="rate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email</label>
                                <div class="col-8">
                                    <input id="email" v-model="email" name="email" type="text"
                                           class="form-control" v-bind:readonly="!addNewUserButton" data-toggle="tooltip" data-placement="top" title="Contact support for editing this!">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-4 col-form-label">Role</label>
                                <div class="col-8">
                                    <select id="role" name="role" v-model="role" class="custom-select">
                                        <option :selected="role === 'ADMIN'" value="ADMIN">Admin</option>
                                        <option :selected="role === 'TECHNICIAN'" value="TECHNICIAN">Technician</option>
                                    </select>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="row justify-content-end">
                            <div class="col">
                                <button @click="handleUpdate" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="addNewUserButton=false">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import moment from 'moment';
    import VueToast from 'vue-toast-notification';
    import 'vue-toast-notification/dist/theme-default.css';
    import Vue from "vue";

    export default {
        name: "EmployeesManagement",
        props: ['employees', 'apiToken'],

        mounted() {
            Vue.use(VueToast);
            this.addNewUserButton = false;
        },

        data() {
            return {
                tagUid: '',
                id: '',
                firstName: '',
                lastName: '',
                phone: '',
                rate: '',
                email: '',
                role: '',
                addNewUserButton: '',
                employeeUserDetails: '',
                newEmployee: {
                    id: '',
                    first_name: '',
                    last_name: '',
                    phone: '',
                    price_rate: '',
                    email: '',
                    role: '',
                    rfid_uid: ''
                },

            }
        },

        filters: {
            moment: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        },

        methods: {
            addToModal(emp) {
               this.id = emp.id;
               this.firstName = emp.first_name;
               this.lastName = emp.last_name;
               this.phone = emp.phone;
               this.rate = emp.price_rate;
               this.email = emp.user_id.email;
               this.role = emp.user_id.role;
               this.tagUid = emp.rfid_uid;
            },

            handleUpdate() {
                this.newEmployee.id = this.id;
                this.newEmployee.first_name = this.firstName;
                this.newEmployee.last_name = this.lastName;
                this.newEmployee.phone = this.phone;
                this.newEmployee.price_rate = this.rate;
                this.newEmployee.email = this.email;
                this.newEmployee.role = this.role;
                this.newEmployee.rfid_uid = this.tagUid;

                console.log(this.newEmployee);

                if(!this.addNewUserButton) {
                    axios.put('/api/user/update', {
                            employee: this.newEmployee
                        }, {headers: {'Authorization': "Bearer " + this.apiToken}}
                    ).then(() => {
                        Vue.$toast.open({
                            message: 'Employee info updated successfully!',
                            position: 'top-right',
                            type: 'success',
                        })
                    }).catch(() => {
                        Vue.$toast.open({
                            message: 'There was a problem in completing the operation!',
                            position: 'top-right',
                            type: 'warning',
                        })
                    });
                    } else {
                        axios.post('/api/user/insert', {
                                employee: this.newEmployee
                            }, {headers: {'Authorization': "Bearer " + this.apiToken}}
                        ).then(() => {
                            Vue.$toast.open({
                                message: 'User added successfully!',
                                position: 'top-right',
                                type: 'success',
                            })
                        }).catch(() => {
                            Vue.$toast.open({
                                message: 'There was a problem in completing the operation!',
                                position: 'top-right',
                                type: 'warning',
                            })
                        });
                    }


            },

            initNewUserOperation() {
                this.addNewUserButton = true;
                this.firstName = '';
                this.lastName = '';
                this.phone = '';
                this.rate = '';
                this.email = '';
                this.role = '';
                this.tagUid = '';
            },



        }
    }
</script>
