<template>
    <div class="mt-4">
        <h3>Manage Your Subscription</h3>

        <label>Card Holder Name</label>
        <input id="card-holder-name" type="text" v-model="name" class="form-control mb-2">

        <label>Card</label>
        <div id="card-element"></div>

        <button class="btn mt-3 user-button" id="add-card-button" v-on:click="submitPaymentMethod()">
            Save Payment Method
        </button>

        <div class="mt-3 mb-3">
        </div>

        <div v-show="paymentMethodsLoadStatus == 2 && paymentMethods.length == 0">
            Please add a payment method!
        </div>

        <div v-show="paymentMethodsLoadStatus == 2 && paymentMethods.length > 0">
            <div v-for="(method, key) in paymentMethods"
                 v-bind:key="'method-'+key"
                 v-on:click="paymentMethodSelected = method.id"
                 class="border rounded row p-1"
                 v-bind:class="{
                    'user-button text-light': paymentMethodSelected == method.id
                }">
                <div class="col-2">
                    {{ method.brand.charAt(0).toUpperCase() }}{{ method.brand.slice(1) }}
                </div>
                <div class="col-7">
                    Ending In: {{ method.last_four }} Exp: {{ method.exp_month }} / {{ method.exp_year }}
                </div>
                <div class="col-3">
                    <span v-on:click.stop="removePaymentMethod(method.id)">Remove</span>
                </div>
            </div>
        </div>

        <h4 class="mt-3 mb-3">Select Subscription</h4>

        <div class="mt-3 row rounded border p-1"
             v-bind:class="{'user-button text-light': selectedPlan == 'plan_H8H2sYOO3AVwWc'}"
             v-on:click="selectedPlan = 'plan_H8H2sYOO3AVwWc'">
            <div class="col-6">
                Premium
            </div>
            <div class="col-6">
                eur 100/month.
            </div>
        </div>

        <div class="mt-3 row rounded border p-1"
             v-bind:class="{'user-button text-light': selectedPlan == 'price_1HGMuuBskEGDBzphkWhRH2pO'}"
             v-on:click="selectedPlan = 'price_1HGMuuBskEGDBzphkWhRH2pO'">
            <div class="col-6">
                Premium plus
            </div>
            <div class="col-6">
                eur 129/month.
            </div>
        </div>

        <button class="btn mt-3 user-button" v-on:click="updateSubscription()">
            Subscribe
        </button>
    </div>
</template>

<script>



    export default {

        props: ['loggedUser', 'apiToken'],

        mounted() {
            this.configureStripe();
            this.loadIntent();
            this.loadPaymentMethods();
        },

        data() {
            return {
                stripeAPIToken: 'pk_test_CccOeutnwew4nPERndAG2jBA00QlZeEvE4',
                stripe: '',
                elements: '',
                card: '',
                intentToken: '',
                name: '',
                addPaymentStatus: 0,
                addPaymentStatusError: '',
                paymentMethods: [],
                paymentMethodsLoadStatus: 0,
                paymentMethodSelected: {},
                selectedPlan: ''
            }
        },

        methods: {

            getAuth() {
                console.log(this.loggedUser);
                axios.post('/api/login/token', {
                    email: this.loggedUser
                }).then((response) => {
                    console.log(response.data.token);
                    this.apiToken = response.data.token;
                });
            },

            configureStripe() {
                this.stripe = Stripe(this.stripeAPIToken);
                this.elements = this.stripe.elements();
                this.card = this.elements.create('card');
                this.card.mount('#card-element');
            },

            loadIntent() {
                axios.get('/api/v1/user/intent-setup-intent', { headers: { 'Authorization': "Bearer " + this.apiToken }
                })
                    .then((response) => {
                        this.intentToken = response.data;
                    });
            },

            submitPaymentMethod() {
                this.addPaymentStatus = 1;

                this.stripe.confirmCardSetup(this.intentToken.client_secret, {
                        payment_method: {
                            card: this.card,
                            billing_details: {
                                name: this.name
                            }
                        }
                    }
                ).then((result) => {
                    if (result.error) {
                        this.addPaymentStatus = 3;
                        this.addPaymentStatusError = result.error.message;
                    } else {
                        this.savePaymentMethod(result.setupIntent.payment_method);
                        this.addPaymentStatus = 2;
                        this.card.clear();
                        this.name = '';
                    }
                });
            },

            savePaymentMethod(method) {
                axios.post('/api/v1/user/payments', {
                    payment_method: method },
                {   headers: { 'Authorization': "Bearer " + this.apiToken }
                } ).then(() => {
                    this.loadPaymentMethods();
                })
            },

            loadPaymentMethods() {
                axios.get('/api/v1/user/payment-methods', { headers: { 'Authorization': "Bearer SHIT" + this.apiToken } })
                    .then((response) => {
                        this.paymentMethods = response.data;
                        this.paymentMethodsLoadStatus = 2;
                    })
            },

            removePaymentMethod(paymentID) {
                axios.post('/api/v1/user/remove-payment',
                { id: paymentID },
                    {  headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    this.loadPaymentMethods();
                });
            },

            updateSubscription() {
                axios.put('/api/v1/user/subscription', {
                    plan: this.selectedPlan,
                    payment: this.paymentMethodSelected },
                { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    alert('You Are Subscribed!');
                    location.reload();
                });
            }
        }
    }
</script>
