<template>

    <div class="container">
        <div class="container pt-3 pb-5">
            <div class="row pb-3">
                <div class="col text-left">
                    <h2>Technician dashboard</h2>
                </div>
                <div class="col text-right">

                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                    <div class="card">
                        <div class="card-header"><b>TODAY'S APPOINTMENTS</b>    |    Select one to view details</div>
                        <div class="card-body">
                            <div class="row shadow mb-5" v-for="(schedule, index) in todaySchedules"  @click="addToModal(schedule)">
                                <div class="col-4 text-center">
                                    <div class="container">
                                        {{ schedule.time_start | day }}
                                        {{ schedule.time_start | moment}}
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="container text-center">
                                        {{ schedule.estimate ? schedule.estimate.services[0].service_name : ' for'}}  <b>{{schedule.customer_id.first_name + ' ' + schedule.customer_id.last_name}}</b>
                                        {{ schedule.estimate ? schedule.estimate.car.VIN : ' ' }}
                                        {{ schedule.estimate ? schedule.estimate.car.license_plate : ' ' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>


        <div class="modal fade" id="appointmentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Appointment # {{ currentSchedule.id }}</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-3">
                            <div class="card">
                               <div class="card-header">
                                   <b>Work</b>
                               </div>
                                <div class="card-body">
                                    <div class="row" v-for="service in currentServices" >
                                        {{ service.service_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="card">
                                <div class="card-header">
                                    <b>Parts</b>
                                </div>
                                <div class="card-body">
                                    <div class="row" v-for="part in currentParts" >
                                        {{ part.part_desc + ' * ' + part.qty + ' pcs.' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col">
                                <button name="ok" @click="" type="button" class="btn btn-outline-info" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    import moment from "moment";

    export default {
        name: "TechnicianDashboardComponent",

        data() {
            return {
                todaySchedules: [],
                currentSchedule: [],
                currentServices: [],
                currentParts: [],
            }
        },

        mounted() {
            this.getTodaySchedules();
        },

        filters: {

            moment: function (date) {
                return moment(date).format('hh:mm');
            },

            day: function (date) {
                return moment(date).format('dddd');
            },
        },

        methods: {
            getTodaySchedules() {
                axios.get('api/employee/schedules/all', { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.todaySchedules = response.data;
                    this.currentSchedule[0] = this.todaySchedules[0];
                } )
            },

            completeJob() {

            },

            addToModal(schedule) {
                this.currentServices = [];
                this.currentParts = [];
                this.currentSchedule = schedule;
                if(this.currentSchedule.estimate != null) {
                    this.currentSchedule.estimate.services.forEach((service) => {
                        this.currentServices.push(service);
                    });
                }
                if(this.currentSchedule.estimate != null) {
                    this.currentSchedule.estimate.parts.forEach((part) => {
                        this.currentParts.push(part);
                    });
                }
                $("#appointmentModal").modal('show');
            }
        }
    }
</script>

<style scoped>

</style>
