<template>

    <div class="container">
        <div class="container pt-3 pb-5">
            <div class="row pb-3">
                <div class="col text-left">
                    <h2>Dashboard</h2>
                </div>
                <div class="col text-right">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">TODAY'S APPOINTMENTS</div>
                        <div class="card-body">
                            <div class="row" v-for="(schedule, index) in todaySchedules" :key="schedule.id">
                                <div class="col-3 text-center">
                                    <div class="container bg-light">
                                        {{ schedule.time_start | day }}
                                        {{ schedule.time_start | moment}}
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="container bg-light text-center">
                                        {{ schedule.title }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">UNPAID INVOICES</div>
                        <div class="card-body">

                            <div>
                                <b-table id="unpaidTable" striped hover :items="unpaidInvoices" :fields="fields" :per-page="perPage"
                                         :current-page="currentPage" selectable ref="selectableTable"
                                         @row-clicked="tableRowClicked" class="mt-3" data-toggle="modal" data-target="#rowModal">
                                </b-table>
                                <b-pagination
                                    pills
                                    v-model="currentPage"
                                    :total-rows="rows"
                                    :per-page="perPage"
                                    aria-controls="unpaidTable"
                                ></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</template>

<script>

import moment from 'moment';
    export default {
        name: "HomeComponent",

        data() {
            return {
                currentPage: 1,
                perPage: 4,
                todaySchedules: [],
                unpaidInvoices: [],
                fields: [
                    {
                        key: 'id',
                        label: '#',
                        sortable: true
                    },
                    {
                        key: 'services[0].service_name',
                        label: 'Order',
                        sortable: true,
                    },
                    {
                        key: 'total',
                        label: 'Total',
                        sortable: true,
                    },
                    {
                        key: 'created_at',
                        label: 'Created at',
                        sortable: true,
                    }
                ],


            }
        },

        mounted() {
          this.getTodaySchedules();
          this.getUnpaidInvoices();
        },

        computed: {
            rows() {
                return this.unpaidInvoices.length;
            }
        },

        filters: {
            moment: function (date) {
                return moment(date).format('hh:mm');
            },

            day: function(date) {
                return moment(date).format('dddd');
            }
        },

        methods: {
            getTodaySchedules() {
                axios.get('api/schedule/get/today', { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.todaySchedules = response.data;
                } )
            },

            getUnpaidInvoices() {
                axios.get('api/estimate/get/unpaid', { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then((response) => {
                    this.unpaidInvoices = response.data;
                } )
            },

            tableRowClicked() {

            },


        }

    }

</script>

<style scoped>

</style>
