<template>

    <div class="container pt-3 pb-5">
        <div class="row pb-3">
            <div class="col text-left">
                <h2>Time sheets</h2>
                <h4>Powered by ArduCheck</h4>
            </div>
            <div class="col text-right">
                <button class="btn user-button" v-on:click="" data-toggle="modal" data-target="#rowModal">
                    <i class="far fa-plus-square"></i> Add manually
                </button>
            </div>
        </div>

        <div class="row">
            <div class="card mr-3 text-center mt-3" style="width: 18rem;" v-for="(employee, index) in employeeArray" :key="index">
                <div class="card-body">
                    <h5 class="card-title pb-3 pt-2">{{ employee.first_name + ' ' + employee.last_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted pb-3">Clocked out at:
                        {{ (clocksArray[index].length && clocksArray[index].length % 2 === 0) ? clocksArray[index][clocksArray[index].length-1].clock_in : '-:-'}}</h6>
                    <div class="card-text pb-4 pt-1">
                        <div v-if="clocksArray[index].length % 2" class="container pb-3">
                            <hourglass animate />
                        </div>
                        <div class="container border">
                            <div class="row">
                                <div class="col">
                                    Today
                                </div>
                                <div class="col">
                                    Week
                                </div>
                                <div class="col">
                                    Month
                                </div>
                            </div>
                            <div class="row">
                                <div id="workToday" class="col">
                                    {{ (clocksArray[index].length && clocksArray[index].length % 2 === 0) ? timeDifferenceToday(clocksArray[index]) : '-' }}
                                </div>
                                <div id="workWeek" class="col">
                                    {{ (clocksArray[index].length && clocksArray[index].length % 2 === 0) ? timeDifferenceWeek(clocksArray[index]) : '-' }}

                                </div>
                                <div id="workMonth" class="col">
                                    {{ (clocksArray[index].length && clocksArray[index].length % 2 === 0) ? timeDifferenceMonth(clocksArray[index]) : '-' }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn user-button" @click="clicked(index)" v-if="clocksArray[index].length % 2 === 0">Clock in</button>
                    <button type="button" class="btn btn-danger" @click="clicked(index)" v-if="clocksArray[index].length % 2">Clock out</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rowModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" >Please confirm</h2>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="clockInDate" class="col-form-label">Clock In Date</label>
                                    <input id="clockInDate" v-model="clockIn" name="ClockIn" type="date" class="form-control" placeholder="">
                                </div>
                                <div class="form-group col-5">
                                    <label for="clockInTime" class="col-form-label">Clock In Time</label>
                                    <input id="clockInTime" v-model="clockInTime" name="ClockInTime" type="time" class="form-control" placeholder="">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="clockIn" class="col-form-label">Clock Out Date</label>
                                    <input id="clockIn" v-model="clockOut" name="ClockOut" type="date" class="form-control" placeholder="">
                                </div>
                                <div class="form-group col-5">
                                    <label for="clockOut" class="col-form-label">Clock Out Time</label>
                                    <input id="clockOut" v-model="clockOutTime" name="ClockOutTime" type="time" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>

                        <h5>Select an available technician: </h5>

                        <cool-select
                            v-model="selectedTechnicianID"
                            :items="technicians"
                            :placeholder="selectedTechnicianID ? '' : 'Select technician'"
                            item-value="id"
                            item-text="id"
                        >
                            <template slot="item" slot-scope="{ item: technician }">
                                <div style="display: flex; align-items: center;">
                                    <div>
                                        {{ technician.first_name + ' ' + technician.last_name }}
                                        <b>{{ technician.price_rate }}</b>
                                    </div>
                                </div>
                            </template>
                            <!-- slot for the selected item (in the text field) -->
                            <template slot="selection" slot-scope="{ item: technician }">
                                <div>
                                    {{ technician.first_name + ' ' + technician.last_name }}
                                    <b>{{ technician.price_rate }}</b>
                                </div>
                            </template>

                        </cool-select>

                        <hr>

                    </div>

                    <div class="modal-footer">
                        <div class="row justify-content-end" data-toggle="modal" data-target="#rowModal">
                            <div class="col">
                                <button @click="insertNewTime" name="submit" type="submit" class="btn user-button" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col">
                                <button name="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

import { CoolSelect } from 'vue-cool-select';
import moment from 'moment';
import Hourglass from 'vue-hourglass';
import Echo from 'laravel-echo';

export default {
    props: ['employees', 'apiToken', 'clocks', 'loggedUserCompany'],

    name: "TimeclocksComponent",

    data() {
        return {
            clockInButton: true,
            technicians: [],
            selectedTechnicianID: '',
            clockIn: '',
            clockOut: '',
            clockInTime: '',
            clockOutTime: '',
            clockInButtons: [],
            employeeArray: [],
            isClicked: [],
            clocksArray: [],
        }
    },

    mounted() {
        window.Echo.private(`time.${this.loggedUserCompany}`)
            .listen('TimeSent', (e) => {
                this.handleWebSocketUID(e.message);
                this.getClocks();
            });

    },

    created() {
        this.employeeArray = this.employees;
        this.clocksArray = this.clocks;
        this.getAllTechnicians();
    },

    filters: {
        moment: function (date) {
            return moment(date).format('MMMM Do YYYY, h:mm:ss a');
        }
    },

    beforeMount() {
        this.clocks.forEach((clock, index) => this.$set(this.clocksArray, index, clock));
        Vue.use(Hourglass);
    },

    methods: {
        handleWebSocketUID(uid) {
            console.log(uid);
        },

        clicked(index) {
            //this.isClicked[index] = !this.isClicked[index];
            if(this.clocksArray[index].length % 2 === 0) {
                console.log('pressed clock in for ' + this.employeeArray[index].first_name + ' ' + moment().format('YYYY-MM-DD HH:mm:ss'));
                axios.post('/api/user/rfid/attend', {
                    clock_out: moment().format('YYYY-MM-DD HH:mm:ss'),
                    employee_id: this.employeeArray[index].id,
                }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    this.getClocks();
                });

            }   else {
                console.log('pressed clock out for ' + this.employeeArray[index].first_name);
                axios.post('/api/user/rfid/attend', {
                    clock_out: moment().format('YYYY-MM-DD HH:mm:ss'),
                    employee_id: this.employeeArray[index].id,
                }, { headers: { 'Authorization': "Bearer " + this.apiToken }
                }).then(() => {
                    this.getClocks();
                });
            }
            // this.isClicked.forEach((datum, index) => {
            //     localStorage.setItem(index.toString(), datum);
            // });
        },

        insertNewTime() {
            axios.post('/api/user/rfid/attend', {
                clock_in: this.clockIn + ' ' + this.clockInTime,
                clock_out: this.clockOut + ' ' + this.clockOutTime,
                employee_id: this.selectedTechnicianID,
            }, { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then(() => {
                this.getAllTechnicians();
                this.getClocks();
            });
            this.clearFields();
        },

        getAllTechnicians() {
            axios.get('/api/employee/all', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                response.data.forEach((datum) => {
                    this.technicians.push(datum);
                });
            });
        },

        getClocks() {
            axios.get('/api/clock/all', { headers: { 'Authorization': "Bearer " + this.apiToken }
            }).then((response) => {
                response.data.forEach((datum, index) => {
                    //this.clocks[index] = datum;
                    this.$set(this.clocksArray, index, datum);
                });
            });
        },

        clearFields() {
            this.selectedTechnicianID = '';
            this.clockIn = '';
            this.clockOut = '';
            this.clockInTime = '';
            this.clockOutTime = '';
            this.technicians = [];
        },

        timeDifferenceToday(clocks) { //$clocks is the employees array of clocks

            let todayDates = [];
            let now = moment();
            let currentDate = null;
            let sumOfHrs = 0;

            for(let i = 0; i<clocks.length; i++) {
                if(((currentDate = new Date(clocks[i].clock_in)).getDate() === now.date()) && (currentDate.getMonth() === now.month())
                    && (currentDate.getFullYear() === now.year())) {
                    todayDates.push(currentDate);
                }
            }

            if(todayDates.length % 2 === 1) {
                return '-';
            }

            for(let i = 1; i<todayDates.length; i=i+2) {
                let diff = todayDates[i] - todayDates[i-1];
                sumOfHrs = sumOfHrs + diff;
            }

            return this.msToTime(sumOfHrs);
        },

        timeDifferenceMonth(clocks) {
            let monthDates = [];
            let now = moment();
            let currentDate = null;
            let sumOfHrs = 0;

            for(let i = 0; i<clocks.length; i++) {
                if(((currentDate = new Date(clocks[i].clock_in)).getMonth() === now.month()) &&
                    (currentDate.getFullYear() === now.year())) {

                    monthDates.push(currentDate);
                }
            }

            if(monthDates.length % 2 === 1) {
                return '-';
            }

            for(let i = 1; i<monthDates.length; i=i+2) {
                let diff = monthDates[i] - monthDates[i-1];
                sumOfHrs = sumOfHrs + diff;
            }

            return this.msToTime(sumOfHrs);

        },

        timeDifferenceWeek(clocks) {
            let weekDates = [];
            let now = moment();
            let currentDate = null;
            let sumOfHrs = 0;

            for(let i = 0; i<clocks.length; i++) {
                if(now.week() === (currentDate = moment(clocks[i].clock_in)).week()) {
                    weekDates.push(currentDate);
                }
            }

            for(let i = 1; i<weekDates.length; i=i+2) {
                let diff = weekDates[i] - weekDates[i-1];
                sumOfHrs = sumOfHrs + diff;
            }

            return this.msToTime(sumOfHrs);
        },

        msToTime(s) {
            let ms = s % 1000;
            s = (s - ms) / 1000;
            let secs = s % 60;
            s = (s - secs) / 60;
            let mins = s % 60;
            let hrs = (s - mins) / 60;

            return hrs + ':' + mins;
        },

        toggleButton(employee) {
            employee.button = !employee.button;
            console.log(employee.first_name);
        }

    },

    components: {
        CoolSelect,
        Hourglass,
    }

}
</script>

<style scoped>

</style>
